## Pyspark Filter operation

In [18]:
from pyspark.sql import SparkSession

In [19]:
ss = SparkSession.builder.appName("Filter").getOrCreate()

In [20]:
ss

In [21]:
df_spark = ss.read.csv('test2.csv',header=True,inferSchema=True)

In [22]:
df_spark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Aman| 22|        10|100000|
|Anshita| 25|         8| 90000|
|   John| 27|         4| 80000|
|   zara| 23|         4| 70000|
|    Sam| 21|         3| 50000|
| Justin| 22|         6| 80000|
+-------+---+----------+------+

### Filter Operations

#### Salary of people less than 90000

In [23]:
df_spark.filter("Salary<=90000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Anshita| 25|         8| 90000|
|   John| 27|         4| 80000|
|   zara| 23|         4| 70000|
|    Sam| 21|         3| 50000|
| Justin| 22|         6| 80000|
+-------+---+----------+------+

#### Selecting only Name and age of a person whose salary is greater than or equal to 90000

In [24]:
df_spark.filter('Salary<=90000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Anshita| 25|
|   John| 27|
|   zara| 23|
|    Sam| 21|
| Justin| 22|
+-------+---+

In [25]:
df_spark.filter(df_spark['Salary']<=90000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Anshita| 25|         8| 90000|
|   John| 27|         4| 80000|
|   zara| 23|         4| 70000|
|    Sam| 21|         3| 50000|
| Justin| 22|         6| 80000|
+-------+---+----------+------+

#### And Operator

In [26]:
df_spark.filter((df_spark['Salary']<=90000) & (df_spark['Salary']>50000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Anshita| 25|         8| 90000|
|   John| 27|         4| 80000|
|   zara| 23|         4| 70000|
| Justin| 22|         6| 80000|
+-------+---+----------+------+

#### OR operator

In [27]:
df_spark.filter((df_spark['Salary']<=90000) | (df_spark['Salary']>50000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Aman| 22|        10|100000|
|Anshita| 25|         8| 90000|
|   John| 27|         4| 80000|
|   zara| 23|         4| 70000|
|    Sam| 21|         3| 50000|
| Justin| 22|         6| 80000|
+-------+---+----------+------+

#### Not operator

In [28]:
df_spark.filter(~(df_spark['Salary']<90000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Aman| 22|        10|100000|
|Anshita| 25|         8| 90000|
+-------+---+----------+------+