## Dataframe

It is a data structure because inside we can perform various operation.

In [1]:
from pyspark.sql import SparkSession

In [2]:
sp = SparkSession.builder.appName('DataFrames').getOrCreate()

In [3]:
sp

## read the dataset

In [32]:
df_spark = sp.read.option('header','true').csv('test1.csv',inferSchema = True) # inferSchema = True => if it is not written then all the columns will be considered as string so to set the type of column accodring to its data we set it to True.

In [10]:
df_spark

DataFrame[Name: string, Age: int, Experience: int]

## check schema

In [11]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
df_spark = sp.read.csv('test1.csv',header=True,inferSchema=True) # this also work same as above code

## Checking type of data

In [14]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_spark.columns

['Name', 'Age', 'Experience']

### Select particular column

In [18]:
df_spark.select('Name').show()

+-------+
|   Name|
+-------+
|   Aman|
|Anshita|
|   John|
+-------+

In [20]:
type(df_spark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [21]:
df_spark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|   Aman|        10|
|Anshita|         8|
|   John|         4|
+-------+----------+

### Slicing is not applicable

In [24]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [26]:
df_spark.describe().show()

+-------+----+------------------+-----------------+
|summary|Name|               Age|       Experience|
+-------+----+------------------+-----------------+
|  count|   3|                 3|                3|
|   mean|NULL|24.666666666666668|7.333333333333333|
| stddev|NULL| 2.516611478423583|3.055050463303893|
|    min|Aman|                22|                4|
|    max|John|                27|               10|
+-------+----+------------------+-----------------+

## Adding columns in dataframe

In [33]:
df_spark = df_spark.withColumn('Experience After 2 years',df_spark['Experience']+2)

In [35]:
df_spark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
|   Aman| 22|        10|                      12|
|Anshita| 25|         8|                      10|
|   John| 27|         4|                       6|
+-------+---+----------+------------------------+

## Drop the columns

In [37]:
df_spark = df_spark.drop('Experience after 2 years')

In [38]:
df_spark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Aman| 22|        10|
|Anshita| 25|         8|
|   John| 27|         4|
+-------+---+----------+

## Rename the columns

In [39]:
df_spark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Aman| 22|        10|
| Anshita| 25|         8|
|    John| 27|         4|
+--------+---+----------+